/* BLOG CSS FILE
 * CSS for the blog.html page
 *****************************/




 /* TESTING BORDER
  ************************
  ************************
  ************************/
 main *{
 .background-color: rgba(0,0,255,.1);
 /*extreme*/
 .background-color: rgba(255,0,0,.5);
 }
 /************************
  ************************
  ************************/




/*HEADER IMAGE
*Change the image
* based on page
********************/
header{
background-image:
  url('../img/h7.png'),
  url('../img/h7.png');
background-position: left bottom,right bottom;
background-repeat: no-repeat,no-repeat;
background-size: 350px,350px;
}
@media screen and (max-width: 600px){
header{
background-size: cover;
background-image:url('../img/h7.png');}
#head-content{transform: translateY(100px);}}







h1,h2
{margin: 0; padding: 0;}
h2{
font-family: 'font-light';
font-size: var(--normal);
font-weight: lighter;
}




main{
padding: 50px 25px 25px 25px;
display: flex;
justify-content:  space-between;
}
@media screen and (max-width: 800px){
main{flex-direction: column;}}

/*
#column1, #column2, #column3{
width: 300px;
display: flex;
flex-direction: column;
border: 5px solid blue;
}
*/

#column1{
display: flex;
flex-direction: column;
position: -webkit-sticky;
position: sticky;
width: 300px;
height: 1200px;
top: 25px;
    }
    #column1 a{
    border: none;
    padding-bottom: 48px;
        }
        #column1 img{
        width: 100%;
        }
        @media screen and (max-width: 900px){
        #column1{display: none;}}


#column2{}
article{
padding-bottom: 8px;
margin-bottom: 60px;
border-bottom: 1px solid var(--black1);
max-width: 650px;
    }
    article img{
    padding: 20px 0;
    width: 100%}
    article p{font-size: var(--normal);}

#column3{
    font-size: .5em;
    border-left: 1px solid var(--black1);
    height: 500px;
    width: 300px;
    padding: 25px 0 25px 25px;
    box-shadow: -13px 0px 10px -10px rgba(0,0,0,.3);
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
        }
        #column3 ul{margin-top: 25px;}
        #column3 li{padding: 3px 0;}





/*end of file*/
