/* GLOBAL CSS
 * Apply across
 * entire site.
*************************
*************************
*************************/


/* EXTERNAL FOLDERS
 * Styles from other folders
*****************************/
@import url("../font/font.css");
@import url("../img/img.css");


/* DEFAULT VARS
 * Default colors and sizes
*****************************/
:root{
/* COLORS */
--dark1:      #8860d0;
--dark1rgb:   136, 96, 208;
--dark2:      #5680e9;
--dark2rgb:   86, 128, 233;
--dark3:      #5ab9ea;
--dark3rgb:   90, 185, 234;
--light1:     #c1c8e4;
--light1rgb:  193, 200, 228;
--light2:     #84ceeb;
--light2rgb:  132, 206, 235;
--grey1:      #eee;
--grey1rgb:  238, 238, 238;
--black1:     #777;

/* SIZES */
--biggest: 2em;
--bigger:  1.5em;
--big:     1.15em;
--normal: .95em;
--small:  .85em;
--smaller:.75em;
--tiny:   .65em;
}


/* GLOBALS
 * basic tags across site
*************************/
body, header, div, img,
h1, p, button, section, menu,
a, article, embed, ul, footer{
padding: 0;margin: 0;
}

body{
font-family: 'font-light';
color: var(--black1);
}




/* GLOBAL HEADER
 * The header is same
 * across site
 ************************
 ************************
 *************************/
header{
text-align: center;
background-image:
  url('../img/h3.png'),
  url('../img/h2.png'),
  url('../img/h1.png');
  background-position: center top, left top, right top;
  background-repeat: no-repeat,no-repeat,no-repeat;
  background-size: contain,contain,contain;
background-color: var(--dark1);
    }
    @media screen and (max-width: 600px)
        {header{
        background-size: cover;
        background-image:url('../img/h2.png')}
        }

#head-logo{
position: absolute;
top: 0;
left: 0;
padding: 5px 45px 0 5px;
display: inline-block;
background-image:
  linear-gradient(to right,
  rgba(255,255,255,1),
  rgba(255,255,255,.85),
  rgba(255,255,255,.1));
    }
    #head-logo img{
    height: 48px;
    }
    #head-logo h1{
    font-family: 'font-regular';
    font-size: var(--small);
    display: inline-block;
    transform: translateY(-2px);
    color: var(--dark3);
    }
    #head-logo a{
    border: none;
    font-size: var(--big);
    }
    #head-logo:hover{
    background-image: linear-gradient(
      to right, white,white,white,
      rgba(255, 255, 255, .1));
    transition: .3s;
    cursor:  default;
    }

    @media screen and (max-width: 600px)
        {#head-logo img{height: 32px;}}

#head-content{
padding: 8% 5%;
color: white;
    }
    #head-content > * {
    margin: 20px 0;
    }

    @media screen and (max-width: 600px){
    #head-content{padding: 12% 5% 8% 5%;}
    #head-content h1{font-size: var(--bigger);}
    }


    #head-content button{
    background-color: rgba(255,255,255,.3);
    border: 1px solid black;
    text-decoration: underline;
    font-family: 'font-light';
    font-size: var(--smaller);
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
        }
        #head-content button:hover{
        box-shadow: -1px 4px 1px black;
        background-color: white;
        transition: .2s;
        cursor: pointer;
        }
        #head-content button:active{
        box-shadow: none;
        background-color: rgba(255,255,255,.3);
        }






section, footer, embed{
display: flex;
background-color: white;
}

h1{
letter-spacing: .1em;
line-height: 1.1em;
font-weight: normal;
}

p{
line-height: 1.4em;
font-size: var(--small);
}

a, a:visited{
text-decoration: none;
color: var(--dark1);
font-size: var(--smaller);
letter-spacing: .15em;
border-bottom: 1px solid var(--dark1);
    }
    a:hover{
    color: black;
    border-bottom: 1px solid black;
    }

ul{list-style-type: none;}






/* GLOBAL FOOTER
*****************/
#footer{background-color: var(--grey1);}
footer{
flex-wrap: wrap;
justify-content: space-between;
}

.foot-socials svg {
width: 35px;
height: 35px;
margin: 0 25px 15px 0;
fill: var(--dark3);
}
.foot-socials ul{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 150px;
    }
    .foot-socials a{border-bottom: 0;}


footer, #copyright{padding: 25px;}
    footer > *{
    min-width: 230px;
    display: block;
    margin-bottom: 25px;
    }
    footer li{padding-top: 5px;}
    #foot-logo img{
    width: 150px;
    }
    #copyright{
    border-top: 1px solid #ddd;
    color: var(--dark3);
    font-size: var(--small);
    }
















/* GLOBAL NAVIGATION
********************/


/* TESTING BORDER
 ************************
 ************************
 ************************/
.body.navigation *{
background-color: rgba(0,0,255,.1);
/*extreme*/
.background-color: rgba(255,0,0,.5);
}
/************************
 ************************
 ************************/


#navigation{text-align: center;}


@media screen and (max-width: 400px)
{#navigation menu{width: 100%;padding-top: 40px;}}
#navigation input:checked ~ menu{
transform: translate(0px,0px);
transition: .2s;
}
#navigation menu{
position: fixed;
top: 0;
right: 0;
height: 100vh;
transform: translate(1000px,0px);
background-color: rgb(var(--grey1rgb), .95);
box-shadow: 0px 5px 10px rgba(0,0,0,.5);
    }
    #navigation label{
    display: block;
    padding-top: 20px;
    }


    .nav-socials li{
    display: inline-flex;
    margin: 15px;
        }
        .nav-socials svg {
        width: 40px;
        height: 40px;
        fill: var(--black1);
        }


#navigation input{
position: fixed;
top: 10;
right: 0;
width: 40px;
height: 40px;
opacity: 0;
z-index: 10;
}


#navbutton:hover{
width: 40px;
background-color:
  rgba(var(--dark1rgb),1);
}
#navbutton{
position: fixed;
top: 8px;
right: 0;
background-color: rgba(var(--dark1rgb),.8);
border: none;
width: 35px;
height: 35px;
display: flex;
align-items: center;
justify-content: center;
    }
    #navbutton svg{
    width: 24px;
    height: 24px;
    stroke: white;
    }





/*page end*/
