/* ===============================================================
   TITLE
   =============================================================== */

/*
 * VARIABLES
 */


 /* ===============================================================
    NORMALIZATION
    =============================================================== */

@font-face {
    font-family: 'font-regular';
    src: url('biryaniregular.woff');
    src: url('biryaniregular.woff') format('woff');
}
@font-face {
    font-family: 'font-light';
    src: url('biryanilight.woff');
    src: url('biryaniultralight.woff') format('woff');
}
@font-face {
    font-family: 'font-heavy';
    src: url('biryaniextrabold.woff');
    src: url('biryaniextrabold.woff') format('woff');
}

:root{
/* COLORS */
    --dark1:  #8860d0;
    --dark2:  #5680e9;
    --dark3:  #5ab9ea;
    --light1: #c1c8e4;
    --light2: #84ceeb;
    --grey1:  #eee;

/* SIZES */
    --biggest: 2em;
    --bigger:  1.5em;
    --big:     1.25em;
    --normal: .95em;
    --small:  .85em;
    --tiny:   .65em;
}


body{
    padding: 0;
    margin: 0;
    font-family: 'font-regular';
    font-size: var(--normal);
    background-color: var(--grey1);
}
ul{list-style-type: none; padding: 0; margin: 0;}
a{text-decoration: none;}
figure, menu{padding: 0; margin: 0;}
h1,h2,h3,h4,h5,h6,p{padding: 0; margin: 0;}


/* ===============================================================
   HEADER
   =============================================================== */




body > nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
body > nav .logo{
   display: flex;
   align-items: baseline;
   padding: 8px 0 0 0;
}
body > nav h1 {
    font-family: 'font-light';
    font-size: var(--big);
    color: var(--dark3);
    margin: 0 8px 0 8px;
}


#btn-main{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey1);
}
#btn-main svg{
    width: 40px;
    height: 40px;
    stroke: var(--dark2);

}
#main-menu:target{
    transform: translate(0, 0);
}
div.space {
    width: 60px;
}



body > menu {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-2000px, 0);
    z-index: 1;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: var(--dark3);
    padding-top: 60px;
    color: white;
}

#main-menu label{
    display: block;
    text-align: center;
    font-family: 'font-regular';
    font-size: var(--big);
    margin-top: 15px;
}
#main-menu ul {
    font-family: 'font-light';
    font-size: var(--normal);
}
#main-menu li {
    text-align: center;
}
#main-menu svg {
    width: 40px;
    height: 40px;
    fill: white;
}
#main-menu a:link, #main-menu a:visited{color: white;}
#main-menu a:hover {text-decoration: underline;}
#main-menu a:link{
    display: block;
    padding: 5px 0 5px 0;
    height: 100%;
    width: 100%;
}

.lst-socials {
    text-align: center;
}
.lst-socials li{
    display: inline-flex;
    margin: 15px;
}






/* ===============================================================
   MAIN SECTION
   =============================================================== */
main {
    margin-top: 60px;
}

article {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
article > img {
    width: 100%;
}

.cnt-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.cnt-caption > h1 {
    color: white;
    font-family: 'font-heavy';
    font-size: var(--biggest);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
article p {
    color: white;
    text-shadow: -0.5px 0 1px black, 0 0.5px 1px black, 0.5px 0 1px black, 0 -0.5px 1px black;
}






/* ===============================================================
   FOOTER
   =============================================================== */

footer{
    color: var(--dark2);
    font-family: 'font-light';
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    font-size: var(--normal);
}

footer menu, footer .logo{
    min-width: 230px;
    display: block;
    margin-bottom: 25px;
}



.mnu-socials svg {
    width: 40px;
    height: 40px;
    margin: 0 25px 15px 0;
    fill: var(--dark3);
}


.mnu-socials ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
}
footer label{
    display: block;
    padding-bottom: 10px;
}
footer li {
    padding-bottom: 5px;
}


footer a:link, a:visited{color: var(--dark3);}
footer a:hover {text-decoration: underline;}



.copyright {
    border-top: 1px solid #ddd;
    color: var(--dark3);
    font-size: var(--tiny);
    padding: 10px 0 10px 25px;
}
