/* ===============================================================
   TITLE
   =============================================================== */

/*
 * VARIABLES
 */


 /* ===============================================================
    NORMALIZATION
    =============================================================== */

@font-face {
    font-family: 'font-regular';
    src: url('biryaniregular.woff');
    src: url('biryaniregular.woff') format('woff');
}
@font-face {
    font-family: 'font-light';
    src: url('biryanilight.woff');
    src: url('biryaniultralight.woff') format('woff');
}
@font-face {
    font-family: 'font-heavy';
    src: url('biryaniextrabold.woff');
    src: url('biryaniextrabold.woff') format('woff');
}

:root{
/* COLORS */
    --dark1:      #8860d0;
    --dark1rgb:   136, 96, 208;
    --dark2:      #5680e9;
    --dark2rgb:   86, 128, 233;
    --dark3:      #5ab9ea;
    --dark3rgb:   90, 185, 234;
    --light1:     #c1c8e4;
    --light1rgb:  193, 200, 228;
    --light2:     #84ceeb;
    --light2rgb:  132, 206, 235;
    --grey1:      #eee;
    --grey1rgb:  238, 238, 238;
    --black1:     #777;

/* SIZES */
    --biggest: 2em;
    --bigger:  1.5em;
    --big:     1.15em;
    --normal: .95em;
    --small:  .85em;
    --tiny:   .65em;
}


body{
    padding: 0;
    margin: 0;
    font-family: 'font-regular';
    font-size: var(--normal);
    background-color: var(--grey1);
}
ul{list-style-type: none; padding: 0; margin: 0;}
a{text-decoration: none;}
figure, menu{padding: 0; margin: 0;}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    letter-spacing: .2em;
    }
p{margin: 0; padding: 0;}
label{
    letter-spacing: .1em;
}


/* ===============================================================
   HEADER
   =============================================================== */




#nav-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
    }

    #nav-main .logo{
        background-image: linear-gradient(to right,
            white , rgba(255, 255, 255, 0));
        display: flex;
        align-items: center;
        padding: 0 50px 4px 0;
        }
        #nav-main img {
            margin: 5px 0 0 10px;
            width: 70px;
            }
        #nav-main h1 {
            margin: 25px 0 0 6px;
            font-family: 'font-light';
            font-size: var(--small);
            line-height: 1em;
            letter-spacing: .3em;
            color: var(--dark3);
            }
        #nav-main .logo:hover{
            background-image: linear-gradient(to right,
                white, rgba(255, 255, 255, .9) , rgba(255, 255, 255, .1));
            transition: .3s;
            cursor:  default;
        }


    #btn-main{
        margin: 10px;
        width: 38px;
        height: 38px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2) inset,
                    3px -3px 3px rgba(255, 255, 255, 0.7) inset;
        }
        #btn-main svg{
            width: 25px;
            height: 25px;
            stroke: #555;
            }



#main-menu {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-2000px, 0);
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--grey1rgb), .95);
    padding-top: 60px;
    color: var(--black1);
    box-shadow: 0px 5px 10px rgba(0,0,0,.5);
    }
    #main-menu:focus{
        transform: translate(0, 0);
        .display: flex;
    }
    #main-menu label{
        display: block;
        text-align: center;
        font-family: 'font-regular';
        font-size: var(--big);
        margin-top: 15px;
        }

    #main-menu ul {
        font-family: 'font-light';
        font-size: var(--normal);
        }
        #main-menu li {
            text-align: center;
            }
            #main-menu svg {
                width: 40px;
                height: 40px;
                fill: var(--black1);
                }
#main-menu a:link,
#main-menu a:visited{color: var(--black1);}

#main-menu a:hover {text-decoration: underline;}
#main-menu a:link{
    display: block;
    padding: 5px 0 5px 0;
    height: 100%;
    width: 100%;
}

.lst-socials {
    text-align: center;
}
.lst-socials li{
    display: inline-flex;
    margin: 15px;
}






/* ===============================================================
   MAIN SECTION
   =============================================================== */



article {
    background-color: white;
    font-family: 'font-light';
    color: var(--black1);
    font-size: var(--normal);
    display: flex;
    }
    article h1 {
        font-size: var(--big);
        padding: 25px 0 10px 0;
    }
    article p {
        padding-bottom: 10px;
    }
    article a:link,
    article a:visited {
        font-size: var(--small);
        color: var(--black1);
        border-bottom: 1px solid var(--black1);
        }
        article a:hover{
            border-bottom: 1px solid black;
            color: var(--light2);
        }

article.art-textonly{
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    }
    article.art-textonly h1{
        font-size: var(--bigger);
    }

article.art-2column {
    padding: 25px;
    flex-direction: row;
    }

    article.art-2column > div{
        padding-bottom: 25px;
        }
        article.art-2column img{
            width: 100%;
            }
    article.art-2column .space{
        display: block;
        width: 230px;
    }
    @media screen and (max-width: 800px) {
        article.art-2column {
            flex-direction: column;
            padding: 0;
        }
        article.art-2column h1,
        article.art-2column p,
        article.art-2column a {
            margin: 0 25px;
        }
    }



.head-article{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--dark3);

    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 17% 0;
    }
    .head-article h1 {
        font-family: 'font-heavy';
        color: black;
        font-size: var(--biggest);
        padding: 0 25px;
        }
    .head-article p {
        padding: 20px 25px;
        font-family: 'font-regular';
        color: black;
        font-size: var(--bigger);
        }
        @media screen and (max-width: 600px) {
            .head-article {
                padding: 30% 0;
                }
            .head-article h1{
                font-size: var(--big);
                }
            .head-article p{
                font-family: 'font-light';
                font-size: var(--normal);
            }
        }

.art-button{
    background-color: rgba(255,255,255,.3);
    border: 1px solid black;
    text-decoration: underline;
    font-family: 'font-regular';
    font-size: var(--small);
    color: black;
    padding: 8px 15px;
    border-radius: 10px;
    }
    .art-button:hover{
        box-shadow: -1px 4px 1px black;
        background-color: white;
        transition: .2s;
        cursor: pointer;
    }
    .art-button:active{
        box-shadow: none;
        background-color: rgba(255,255,255,.3);
    }















#art-thanks {
    max-height: 140px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(var(--light2rgb), .2);
}
#art-thanks p {
    color: var(--black1);
    font-family: 'font-light';
}
#art-thanks a,
#art-thanks a:link,
#art-thanks a:visited {
    color: inherit;
    display: block;
        border-bottom: 1px solid var(--black1);
        width: 80px;
}
#art-thanks a:hover {
    border-bottom: 1px solid black;
    color: var(--light2);
}
.cnt-thanks-logos > * {
    padding: 0 20px 0 20px;
}
#art-thanks img {
    min-width: 120px;
    max-width: 250px;
    max-height: 100px;
}
#art-thanks .cnt-thanks-logos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 800px) {
    .hide-extra {
    display: none;
  }
}





/* ===============================================================
   FOOTER
   =============================================================== */

footer{
    color: var(--dark2);
    font-family: 'font-light';
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    font-size: var(--normal);
    }
    footer menu,
    footer .logo{
        min-width: 230px;
        display: block;
        margin-bottom: 25px;
    }



.mnu-socials svg {
    width: 40px;
    height: 40px;
    margin: 0 25px 15px 0;
    fill: var(--dark3);
}


.mnu-socials ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
}
footer label{
    display: block;
    padding-bottom: 10px;
}
footer li {
    padding-bottom: 5px;
}


footer a:link,
footer a:visited{color: var(--dark3);}
footer a:hover {text-decoration: underline;}



.copyright {
    border-top: 1px solid #ddd;
    color: var(--dark3);
    font-size: var(--tiny);
    padding: 10px 0 10px 25px;
}
