/*SECTIONS
**By Joshua Robison
**2023/01/24
**types of sections
*************************/


.FRAME筥連RTICLE{
display: grid;
place-items: end start;
min-height: 100vh;
width: 100vw;
padding: 65vh .5rem .5rem .5rem;
background-repeat: no-repeat;
background-size: auto 150%;

background-blend-mode: soft-light;
background-position: center center;
    }
    .FRAME筥連RTICLE h1{
    font-family: 'fantasy';
    font-size: clamp(1.5em,min(8vw,6vh),2.8em);
    line-height: 1.1em;
    margin-bottom: 5vh;
    /*  ---  */
    text-shadow:
    10px 3px 0px rgba(var(--white1)1),
    -3px -3px 0px rgba(var(--white1)1);
    }
    .FRAME筥連RTICLE p{
    margin-top: 3vh;
    font-size: clamp(1.1em,3.5vw,3vh);
    line-height: 1.2em;
    /*   ---   */
    color: rgba(var(--white1)1);
    }

.IMG筥話ioarticle{
background-color: 
rgba(var(--tint2)1);
background-image: 
url("../img/reformer-stretch.jpg");
}






/*END OF PAGE*/
