/*HEADER TEMPLATE
**By Joshua Robison
**2022/07/29
**Hotswap header
************************/


/*HEADER DEFAULTS
*************************/
header{
position: relative;
height: 100vh;
display: flex;
background-image: linear-gradient(
    45deg, rgba(var(--tint2).8),
    rgba(var(--tint1).8));
    }
    header > div{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width:100%;height:100%;
    font-size: var(--bigger);
    }
    header span{
    line-height: clamp(2rem, 3vw, 2.5rem);
    padding: 0 clamp(0.1rem, 3vw, 3rem);
    }

    header.WORKOUT📦 > div{
    width:100%;height:100%;
    text-align: center;
    }




/* TESTING BOXES
 ************************/
.borders, .borders *{
background-image:
 radial-gradient(
 rgba(255,0,255,.1),
 rgba(255,0,255,.1),
 rgba(255,0,255,.1),
 rgba(255,0,255,.3),
 rgba(255,0,255,.3));
}


/*END OF FILE*/
