/*INLINE TEXT
**By Joshua Robison
**2022/07/28
**Default styles for the
**following tags inline
************************
**stamp code i cite dfn
**small b strong kbd
**em q time a
*************************/

:root{
/* FONT SIZES */
--huge:  clamp(1.8rem, 4vw, 4rem);/**/
--biggest:  clamp(2rem, 1.4vw, 2.3rem);
--bigger:   clamp(1.5rem, 1.4vw, 1.8rem);
--big:      clamp(.95rem, 1.4vw, 1.45rem);
--normal:   clamp(.85rem, 1.4vw, 1rem);/*.85*/
--small:    clamp(.75rem, 1.4vw, .95rem);
--smaller:  clamp(.65rem, 1.4vw, .9rem);
--smallest: clamp(.55rem, 1.4vw, .9rem);
/*LINE HIGHT*/
--lineM:    clamp(1.25rem, 1vw, 1.25rem);/*1.25*/
--lineL:    clamp(2.8rem, 9vw, 9rem);/*1.25*/
/*SPACES*/
--paragraphM:   clamp(1.8rem, .35vw, 2rem);/*1rem*/

/* COLORS
* rgba(var(--black1).5);
*************************/
--black0:   0,0,0,;
--black1:   50,50,50,;
--black2:   100,100,100,;
--white1:   238,238,238,;
--tint1:    136, 96, 208,;/*#8860d0*/
--tint2:    90, 185, 234,;/*#5ab9ea*/

}


/* FONT DEFINITION
 * main font
 * regular, light, heavy
 * links must be relative
 * short names no spaces
*************************/
@font-face {
font-family: 'sans-regular';
src: url('../font/biryaniregular.woff');
src: url('../font/biryaniregular.woff') format('woff');
}
@font-face {
font-family: 'sans-light';
src: url('../font/biryanilight.woff');
src: url('../font/biryaniultralight.woff') format('woff');
}
@font-face {
font-family: 'sans-heavy';
src: url('../font/biryaniextrabold.woff');
src: url('../font/biryaniextrabold.woff') format('woff');
}
@font-face {
font-family: 'fantasy';
src: url('../font/destroy.woff');
src: url('../font/destroy.woff') format('woff');
}



/*PAGE DEFAULTS
*************************/
body{
font-family: 'sans-regular';
line-height: var(--lineM);
font-size: var(--normal);
color: rgba(var(--black1)1);
}


/*INLINE TEXT DEFAULTS
*************************/
p{margin: var(--paragraphM) 0;}
p::before{
content:"\00A0\00A0\00A0\00A0";
}




/*MONOSPACED*/
samp, code{
letter-spacing: .06rem;
font-size: var(--small);
font-weight: lighter;
background-color: rgba(var(--black2).2);
margin: 0 .4rem;padding: 0 .4rem;
}

/*ITALIC*/
i,cite,dfn,small{
font-family: 'sans-light';
margin: 0 .2rem;padding: 0 .2rem;
}
cite,dfn{
text-decoration: underline;
font-style: italic;
color: rgba(var(--black0)1);
    }
    i{font-size: var(--small);
    color: rgba(var(--black0)1);
    }

    dfn{display: inline-flex;}

    small{
    font-size: var(--small);
    font-style: italic;
    }

/*STRONG BOLD*/
b,strong,kbd,em{
color: rgba(var(--black0)1);
line-height: 1.5rem;
margin: 0 .2rem;padding: 0 .2rem;
}
b,strong,em{
font-family: 'sans-heavy';
    }
    b{background-color: rgba(var(--tint2)0.4);}

    strong{
    font-size: var(--small);
    text-transform: uppercase;
    color: rgba(var(--tint1)1);
    }

    kbd{font-weight: bold;}

    em{font-style: normal;}

/*SPECIAL MISC*/
q{font-family: 'sans-light';}
q::before,q::after{
font-family: fantasy;
color: rgba(var(--black2)1);
vertical-align: text-top;
font-size: var(--huge);
padding: 0 8px;
line-height: 2rem;
    }
    q::before{content:open-quote;}
    q::after{content:close-quote;}

time{
letter-spacing: 0.15rem;
font-family: 'sans-light';
color: rgba(var(--black0)1);
margin: 0 .3rem;padding: 0 .3rem;
}

a, a:visited{
display: inline-flex;
text-decoration: none;
text-transform: uppercase;
font-family: 'sans-light';
font-size: var(--small);
color: rgba(var(--tint1).8);
.line-height: 1.4rem;
    }
    a:hover, a:active{
    color: rgba(var(--tint1)1);
    .border-bottom: .5px solid rgba(var(--tint1).7);
    }
    a:hover::before, a:active::before{
        position: absolute;
        margin-left: -.5rem;
        margin-top: -.5rem;
        line-height: 1.5rem;
        content: "\BB"; /*1F449*/
        font-size: var(--biggest);
        background-color: rgba(var(--tint1)1);
        border: .2rem solid white;
        border-radius: 1.5rem;
        padding: .2rem;
        color: rgba(var(--white1)1);
    }










/* TESTING BOXES
 ************************/
sfsdf{
background-image:
 radial-gradient(
 rgba(255,0,255,.1),
 rgba(255,0,255,.1),
 rgba(255,0,255,.1),
 rgba(255,0,255,.3),
 rgba(255,0,255,.3));
}


/*END OF FILE*/
