/* ===============================================================
   CSS FOR IMAGES FOLDER
   =============================================================== */






/* ===============================================================
  MAIN CONTENT AREA
  =============================================================== */

#art-members{
    background-image: url('stretch4.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
}
